@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e1e1e;
}
/* 
html {
  @apply transition-none motion-reduce:animate-none hover:!bg-none hover:!text-inherit;
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Open Sans', sans-serif;
}

@theme {
  --color-primary: #1E3FE4;
  --color-secondary: #7A15D3;
  --shadow-base: 0 1px 3px 0 rgb(0 0 0 / 0.25);
}

