@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #1e1e1e;
}
/* 
html {
  @apply transition-none motion-reduce:animate-none hover:!bg-none hover:!text-inherit;
} */

body {
	color: var(--foreground);
	background: var(--background);
	font-family: "Open Sans", sans-serif;
}

@theme {
	--color-primary: #1e3fe4;
	--color-secondary: #7a15d3;
	--shadow-base: 0 1px 3px 0 rgb(0 0 0 / 0.25);
	--breakpoint-1xl: 86rem;
	--breakpoint-3xl: 102rem;
	--spacing-46: 11.75rem;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(203, 213, 225, 0.7);
	border-radius: 20px;
}

.custom-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: rgba(203, 213, 225) rgba(203, 213, 225, 0.2);
}

nextjs-portal {
	display: none;
}
